
.header {
    position: sticky;

    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;

    height: 73.5px;
    width: 100%;
    // background: linear-gradient(180deg, #0F0D1B -65.2%, rgba(15, 13, 27, 0) 100.52%);
    background: green
}
.logo-section {
    margin-left: 30px;
    .logo {
        display: inline-block;
        height: auto;
        img {
            height: 35px;
        }
    }
}

nav {
    margin-right: 30px;
    .nav-container {
        display: flex;
        gap: 30px;
        .nav-item {
            a {
                height: auto;
                display: inline-block;
                height: auto;
                img {
                    height: 25px;
                }
            }
        }
    }
}


